.App {
  text-align: center;
}

.titles {
  margin: auto;
  padding: 10px;
  text-align: center;
}

#start-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar { 
  display: inline-flex;
  border: 1px black solid;
  width: 100%;
  justify-content: center;
 }

.play-area {
  display: grid;
  grid-template-columns: repeat(19, 44px);
  grid-template-rows: repeat(15, 44px);
  border: 1px solid black;
}

 .snake-head {
  border: 1px black solid;
  order: 12;
 }
 .snake-body {
  border: 1px black solid;
 }